doctype html
head
    title Add Product Page
    style.
        label{
            display:block;
            margin:10px;
        }
        button{
            margin:10px;

        }
body
    form(action="http://localhost:3000/" method="post")
        label(for="prodId") Id:
            input#prodId(type="text" name="id")
        label(for="prodName") Name:
            input#prodName(type="text" name="name")
        label(for="prodPrice") Price:
            input(type="text" name="price")
        button(type="submit") Add Product
        a(href="http://localhost:3000/products/") show product list