*{
    color: red;
}

h2{
    color: blue;
}
ul h2{
    color: green;
}
#myItem1{
    color: limegreen;
}
.myItem{
    color:navy;
}
li.myItem{
    color:yellow;
}
/*data*/
[data-modal]{
    background-color: purple;
    padding:14px;
    color:white
}
ul.menu > li{
    display:inline-block;
    padding: 10px;
}
/*
ul.menu > li:first-child a{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
ul.menu > li:last-child a{
    font-size: 50px;
    font-weight: 200;
    color: steelblue;
}
ul.menu > li:nth-child(2) a,
ul.menu > li:nth-child(3) a
{
    font-size: 30px;
    font-weight: 200;
    color: tomato;
}
*/
ul.menu > li:nth-child(2n + 1) a{
    font-size: 20px;
    font-weight: 700;
    color: limegreen;
}
p + p{
    cursor: pointer;
    font-size: 30px;
    color: blue;
}
#part_1 ~ p {
    cursor: pointer;
    font-size: 18px;
    color:black;
}
#par_1 ~ p:hover{
    background-color: rgba(0, 0, 255, 0.671);
}
#par_1 ~ p:active{
    background-color: rgba(255, 0, 0, 0.671);
}
