*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.top.left{
    width: 49%;
    height: 25%;
    float: left;
    background-color: red;
}
.top.right{
    width: 49%;
    height: 25%;
    float: right;
    background-color: blue;
}
.middle {
    width:100%;
    background-color: yellow;
    height: 25%;
    float:left;
}