*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
.column{
    float: left;
    background-color: blueviolet;
    margin: 10px;
    height: 15vh;
}
.column.top.left{
    width: calc(20% - 20px);
}
.column.top.right{
    width: calc(80% - 20px);
}
.column.full{
    width: calc(100% - 20px);
}
.column.half{
    width: calc(30% - 20px);
    height: 40vh;
}
.column.square{
    width: calc(40% - 20px);
    height: 60vh;
}
.column.half.one{
    margin-top: -10vh;
}
.column.three{
    width: calc(20% - 20px);
    height: 28.6vh;
}
.column.four{
    width: calc(40% - 20px);
    height: 80vh;
}