.header{
    background-color:#4f555e;
    height: 20%;
}
h1{
    color: white;
    padding-top: 45px;
    margin-left: 10px;
}
ul li{
    background-color: #4273bc;
    margin: 5px;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    background-color: #4273bc;
    color: white;
}
.left-list{
    width: 15%;
    display: block;
    float: left;
    padding-top: 50px;
}
.content{
    float: right;
    width: 80%;
    margin-right: 3%;
    margin-left: 2%;
}
.footer{
    width: 100%;
    background-color:#4f555e;
    height: 90px;
    font-size: 50px;
    clear: both;
}