:root {
	--background: #1D838D;
	--c1: #8CBBBF;
	--c2: #3F8F96;
	--c3: #046E78;
	--c4: #015961;
	--btn-hov: #00272B;
	--green: #24B62E;
	--red: #B81027;
	--dark-red: #920014;
	--yellow: #C0CC0D;
}

* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

.wrap {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.wrap .aside {
	min-width: 200px;
	width: 15%;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: var(--background);
	justify-content: space-between;
}

.wrap .aside .aside-content .aside-title {
	color: var(--c1);
}

.wrap .aside .aside-content ul.statistic {
	color: var(--c1);
	list-style: none;
	padding: 0;
	margin-top: 15px;
	font-size: 14px;
}

.wrap .aside .aside-content ul.statistic li {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.wrap .aside footer {
	height: 50px;
	color: var(--c1);
}

.wrap .aside footer p {
	font-size: 14px;
}

.wrap .aside footer h5 {
	color: var(--c4);
}

.wrap .content {
	max-width: calc(100vw - 200px);
	width: 85%;
	background-color: var(--c1);
	padding: 20px;
	box-sizing: border-box;
}

.wrap .content .table-container .container-header {
	background-color: #fff;
	padding: 15px;
	border-radius: 5px 5px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrap .content .table-container .container-header .table-container-title {
	color: var(--c4);
}

.wrap .content .table-container .container-header .actions button {
	padding: .3em .5em;
	background-color: var(--c3);
	color: #fff;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	font-family: monospace;
	cursor: pointer;
}

.wrap .content .table-container .container-header .actions button:hover{
	background-color: var(--btn-hov);
}
.wrap .content .table-container .table {
	background-color: var(--background);
	overflow-x: auto;
	max-width: 100%;
	box-sizing: border-box;
	border-radius: 5px;	
}

.wrap .content .table-container .table table {
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

.wrap .content .table-container .table table tr:nth-child(2n) {
	background-color: var(--c2);
}

.wrap .content .table-container .table table tr:nth-child(2n + 1) {
	background-color: var(--background);
}

.wrap .content .table-container .table table:hover tr:not(:first-child) {
	opacity: .5;
}

.wrap .content .table-container .table table:hover tr:hover {
	opacity: 1;
}

.wrap .content .table-container .table table:hover tr:first-child:hover ~ tr {
	opacity: 1;
}

.wrap .content .table-container .table table tr td {
	padding: 10px;
	text-align: center;
}

.wrap .content .table-container .table table tr td:first-child {
	text-align: left;
	min-width: 180px;
}

.wrap .content .table-container .table table tr td:nth-child(2) ~ td {
	min-width: 70px;
}

.wrap .content .table-container .table table tr td:nth-child(2) {
	background-color: var(--c3);
}

.wrap .content .table-container .table table tr:not(:first-child) td:not(:first-child) {
	font-weight: bold;
}

.wrap .content .table-container .table table tr td.green {
	background-color: var(--green);
	cursor: pointer;
}

.wrap .content .table-container .table table tr td.red {
	background-color: var(--red);
	cursor: pointer;
}

.wrap .content .table-container .table table tr td.yellow {
	background-color: var(--yellow);
	cursor: pointer;
}

.wrap .content .table-container .table table tr td.red:hover {
	background-color: var(--dark-red);
}

@media all and (max-width: 767px) {
	body {
		padding-bottom: 48px;
	}

	.wrap {
		flex-direction: column;
	}

	.wrap .aside {
		display: block;
		width: auto;
		height: auto;
	}

	.wrap .aside footer {
		/*height: auto;*/
		margin-top: 15px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: var(--background);
		padding: 10px 20px;
		height: 50px;
		box-sizing: border-box;
	}

	.wrap .content {
		width: auto;
		max-width: none;
		overflow-x: auto;
	}
}


