:root{
    --background: #1D838D;
    --c1: #015961;
    --c2: #8CBBBF;
    --c3: #046E78;
    --c4: #046E78;
    --table-cont: #000101;
    --btn: #3F8F96;
    --btn-backgr: #01464C;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.container .aside{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 15%;
    min-width: 200px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}
.container .aside .aside-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .aside .aside-content .aside-title{
    color: var(--c2);
}
.container .aside .aside-content .statistic{
    list-style-type: none;
    padding: 5px;
    margin-top: 20px;
    font-size: 15px;
    color: var(--c2);
}
.container .aside .aside-content ul li{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.container .aside .aside-content .footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: var(--c2);
    height: 50px;
}
.container .aside .aside-content .footer .author{
    font-size: 12px;
    color: var(--c1);
}
.container .aside .aside-content .footer p{
    font-size: 14px;
}
.container .content{
    width: 85%;
    background-color: var(--c2);
}
.container .content .table{
    display: flex;
    flex-direction: column;
}
.container .content .table .table-header .table-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    margin: 20px;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}
.container .content .table .table-header .table-title p{
    color: var(--c1);
    font-weight: normal;
    align-self: center;
}
.container .content .table .table-header .table-title button{
    color: #fff;
    padding: 5px;
    background-color: var(--background);
    border-radius: 5px;
}
.container .content .table .table-header .table-title button:hover{
	background-color: var(--btn-backgr);
    color: var(--btn);
    cursor: pointer;
}
.container .content .table{
    max-width: 100%;
    box-sizing: border-box;
}
.container .content .table .table-content tr td{
    padding: 5px;
    color: var(--table-cont);
}
.container .content .table .table-content tr:first-child{
    color: wheat;
}