div.horizontal{
    display: inline-block;
}
h2.examples{
    margin-left: 25px;
}
div.example-1{
    background-color: grey;
    position: relative;
    width: 300px;
    height: 300px;
}
div.example-1-1{
    background-color:black;
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
    right: 0;

}
div.example-2{
    background-color: grey;
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 20px;
}
div.example-2-1{
    background-color: red;
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
}
div.example-2-2{
    background-color: black;
    position: absolute;
    width: 70px;
    height: 70px;
    right: 0;
}
div.example-3{
    background-color: grey;
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 20px;
}
div.example-3-1{
    background-color: black;
    position: absolute;
    width: 200px;
    height: 200px;
}
div.example-3-2{
    background-color: darkblue;
    position: absolute;
    width: 70px;
    height: 70px;
    right: 0;
}