body{
    background-color: #f46842;
    /*background-image: url(../images/fjords.jpg);
    background-repeat: no-repeat;
    background-position: right 100px;*/
    margin-left: 100px;
    background:  #f46842 url(../images/fjords.jpg) no-repeat right 100px scroll;
    background-size: cover;
}
.box{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    font-size: 2em;
    color: brown;
    text-align: center;
    line-height: 200px;
    padding-top: 20px;
    /*padding-bottom: 20px;
    margin-left: 500px;*/
    padding: 10px 20px 30px 40px;
    margin-left: 500px;
    margin-top: 50px;
    box-sizing: border-box;
    border: 5px solid grey; 
    outline: 5px solid green;
}
p.box--border__style{
    border:15px solid brown;
    border-style: solid dotted dashed double;
    border-width: 5px 10px 13px 7px;
    border-color: black green yellow blue;
    border-radius: 10px;
    border-top-left-radius: 30px;
    padding: 13px;
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#border-box,
#padding-box,
#content-box{
    background-color: yellowgreen;
    width: 225px;
    padding: 1em 0;
    border: 5px solid rgba(156, 224, 251, .6    )
}
.nomargin{
    background-clip: border-box;
}
#border-box{
    background-clip: border-box;
}
#padding-box{
    background-clip: padding-box;
}
#content-box{
    background-clip: content-box;
}