*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    width: 85%;
    float: left;
    text-align: center;
    background-color: rgba(43, 2, 2, 0.267);
    height: 5%;
}
.left{
    background-color: blue;
    width: 15%;
    float: left;
    height: 5%;
    text-align: center;
}
.column-sides{
    width: 25%;
    float: left;
    padding: 15px;
}
.column-center{
    width: 50%;
    float: left;
    padding: 15px;
}
footer{
    background-color: darkorange;
    padding: 10px;
    text-align: center;
    clear: both;
}