doctype html
head
    title Add Car
body
    form(action="http://localhost:3000/carBase" method="post")
        label(for="mark") 
            input#prodId(type="text" name="mark"  placeholder="Enter Mark")
        label(for="model")   
            input#prodName(type="text" name="model" placeholder="Enter Model")
        label(for="VIN") 
            input(type="text" name="vin" placeholder="Enter VIN Number" required)
        label(for="govNumber") 
            input(type="text" name="govNumber" placeholder="Enter Car Number" required)
        label(for="color") 
            input(type="date" name="color" placeholder="Enter Car Color")
        button(type="submit" class="button") Add Car
        br