doctype html
head
    title People
   
body
    form(action="http://localhost:3000/carSearch" method="post")
            label(for="Name") 
                input(type="text" name="vin"  placeholder="Enter Car VIN " required)
            button(type="submit" class="button") Search Car