doctype html
head
    title people List
body
    table
        tr
            th Name
            th LastName
            th ID
            th date
        for person in persons
            tr
                td= person.name
                td= person.lastName
                td= person.ID
                td= person.date