doctype html
head
    title People
   
body
    form(action="http://localhost:3000/userSearch" method="post")
            label(for="Name") 
                input(type="text" name="vin"  placeholder="Enter User ID " required)
            button(type="submit" class="button") Search User