<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LayOutt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        #container{
            width: 960px;
            margin: 40px auto;
        }
        #container-fluid{
            margin: 40px auto;
            width: 84%;
            max-width: 1280px;
        }
    </style>
</head>
<body>
    <div id="container">
        <article>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, illum laudantium nulla commodi earum quod recusandae voluptatibus nihil deserunt unde eius dolore aspernatur at praesentium. Nesciunt fugit unde aliquid fuga.
            Perspiciatis nostrum et voluptas reprehenderit in, dolorem sunt magnam, necessitatibus rem cumque earum voluptate quibusdam repellendus porro repellat illum deserunt iste velit atque. Sit necessitatibus corrupti dignissimos praesentium excepturi? Facilis.
            Harum, illum qui libero commodi dolor magni ad quis laudantium quae doloremque rem aliquid, saepe dolores? Voluptas, deserunt hic nemo aut iure obcaecati ipsum quod alias nihil consequuntur? Voluptatibus, odit.
            Corrupti fugit recusandae vel! Reprehenderit omnis officiis nemo quam, nesciunt illum quae nobis mollitia nisi odio unde nulla repellendus, nostrum temporibus dignissimos. Repellendus obcaecati temporibus eos ducimus animi, accusantium doloribus?
            Vero fugiat accusamus commodi, velit delectus quisquam laudantium ipsam corrupti dolorum temporibus maiores quis eveniet nesciunt debitis adipisci vel, exercitationem nisi. Earum a mollitia expedita amet officia explicabo! Corrupti, consectetur?
            Illo molestiae vero deleniti! Numquam ea enim totam possimus vitae provident accusamus ex laborum magnam earum. Quidem porro illum laboriosam, eum aperiam quia debitis reprehenderit perspiciatis amet voluptate eveniet suscipit.
            Reiciendis eos nostrum voluptate sit molestiae corrupti voluptatem neque est, pariatur ipsa dolor recusandae eaque quisquam quod, labore aliquam ipsum soluta provident officiis harum magnam. Distinctio minus quia cupiditate deleniti!
            Unde error harum at numquam quibusdam provident possimus assumenda facilis ipsum labore totam consequatur architecto, nesciunt explicabo odio vel fuga ex ea dolor ad exercitationem mollitia tempore ipsa? Est, ducimus.
            Sunt, cum hic praesentium recusandae porro adipisci non quisquam ratione veritatis? Quibusdam fugit, rem dolores molestiae repudiandae debitis officiis quaerat et aliquam eius reiciendis iure dolorem voluptate inventore dolor! Quod.
            Quo inventore veritatis saepe eaque possimus nesciunt libero esse repudiandae provident minima officia, ducimus placeat ullam consectetur rerum ea blanditiis omnis laboriosam animi, modi aspernatur facilis! Quas quis non obcaecati.
        </article>
    </div>

    <hr>

    <div id="container-fluid">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nisi tempore modi at illo, eaque eum odit deserunt eius sequi asperiores perferendis reiciendis quis quam culpa distinctio quos omnis aperiam?
        Nihil mollitia adipisci, fugiat dolore accusamus corrupti illum culpa laboriosam temporibus quam tempore at facilis, eaque modi ex a necessitatibus ea unde, atque ullam. Necessitatibus perferendis odit beatae enim quis!
        Possimus excepturi quisquam asperiores velit unde corrupti voluptatem maxime dolorum. Minima, molestiae! Soluta corporis voluptatibus a accusamus hic molestiae asperiores eligendi ratione, quibusdam, facilis voluptates labore quidem repellat reprehenderit accusantium.
        Natus, numquam! Sequi qui eveniet odio animi doloremque itaque aliquid numquam vitae dolore aspernatur quibusdam amet blanditiis similique expedita, sit assumenda veniam reprehenderit accusantium consectetur, sunt adipisci. Repellat, illo magnam?
        Consequatur, cumque ducimus esse tempore architecto vitae blanditiis, repellendus repellat corporis ea impedit tempora odit maiores facere nemo enim laboriosam, ut in assumenda sunt expedita? Consequuntur blanditiis voluptatibus ad accusamus.
        Tempora eligendi officiis dicta eum quibusdam doloremque incidunt tempore quam in consequuntur aspernatur, fuga labore voluptatum doloribus necessitatibus ipsa. Cupiditate iste veniam tempore quam libero, quod dolor perspiciatis sunt culpa?
        Sed est sapiente aut doloremque. Reprehenderit repudiandae tempora quos reiciendis, cum eligendi nemo eaque molestias doloremque perferendis nam voluptate dignissimos illum. Suscipit quae est, impedit ex temporibus rem minus fugit.
        Nulla molestias fugiat quo nesciunt voluptates optio minima fuga quisquam ullam laboriosam culpa eius earum omnis sequi suscipit dolorum illum, doloribus aliquid perferendis! Earum atque voluptatum illo dolor, alias laudantium!
        Adipisci atque earum cum. Eligendi deserunt nulla ab quas soluta suscipit odio consequatur magni ipsum? Modi quos animi ratione voluptatum, mollitia nulla quaerat laboriosam. Perferendis reprehenderit beatae possimus! Eveniet, consequuntur!
        Ab quod cum voluptas, non eaque, dicta dolore, facilis ad quis repudiandae aut! Beatae cum ipsam ratione officia consequuntur aspernatur excepturi illo distinctio, maiores doloribus perspiciatis dolore sint quia recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A optio minima quam corporis ipsa consequuntur magni quod porro magnam cumque debitis architecto, explicabo vitae quisquam molestiae aliquid in beatae atque.
        Non consequatur accusamus, quae odit laborum veniam repudiandae dicta nemo consectetur qui itaque maxime culpa eveniet corrupti officia, beatae pariatur obcaecati. Beatae dignissimos neque laboriosam omnis, laborum ipsam nihil labore.
        Dolorem numquam, ullam ratione voluptate praesentium impedit amet! Totam quidem, excepturi ipsum quo fugiat voluptatem ab corporis quibusdam voluptates suscipit nisi soluta illo dolorum explicabo sit voluptate tenetur quos animi.
        Dolore fugiat ullam eos placeat quaerat vel, nulla consectetur omnis aperiam cupiditate. Eaque doloribus quas corrupti, laudantium obcaecati cum magnam blanditiis neque asperiores nam pariatur iste, aspernatur officiis tenetur corporis.
        Et unde ipsum neque voluptate earum molestiae? Incidunt laborum quisquam veniam alias quia voluptas exercitationem dolores enim nobis fugit facere, nemo delectus dolor at. Veniam ullam eveniet quis accusamus commodi!
        Excepturi ipsum quae ad magni fugiat asperiores adipisci vero tenetur aut, eaque repudiandae consequatur facilis aliquid veniam, voluptatum, nam doloremque obcaecati est deserunt? At rem nam aut obcaecati. Similique, voluptatem!
        Illum numquam officia perferendis minima laboriosam odit magnam molestias reiciendis. Temporibus unde libero laborum debitis, autem, quod quam ipsa blanditiis voluptates explicabo corrupti officia voluptate sit quo dolor cum perspiciatis!
        Quia iusto enim eius id laborum a perspiciatis libero nisi vitae nulla facilis velit vel doloribus odit quo quas ab, nobis laboriosam dolore doloremque voluptas dolores repellat dignissimos nostrum? Architecto.
        Tenetur laudantium nostrum incidunt voluptas blanditiis, error placeat earum nam impedit eum animi, vitae aperiam natus consequatur neque quo, velit voluptates architecto dolore. Tempore impedit distinctio odit eius corrupti natus!
        Magni quis sapiente dolore delectus cum ipsa minus corporis, saepe nisi ipsam inventore necessitatibus fugit, cupiditate quibusdam. Cum, minima dignissimos? Quis sit minus incidunt, repellendus placeat dicta! Hic, officia et?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore deleniti quis explicabo nisi. Iure nemo consectetur, iusto culpa non nam ducimus molestias adipisci explicabo ad quo, quod esse soluta sit.
        Facilis ratione excepturi rerum sunt explicabo adipisci, cum, necessitatibus earum harum, dolores ipsum cupiditate sequi animi quod voluptatum nisi molestias saepe nobis minus! At velit veniam quo maxime, error maiores?
        Tempore corrupti debitis dolor iure sequi enim excepturi asperiores vel minus eos possimus voluptas quidem soluta culpa eius mollitia, impedit nihil optio quisquam sapiente! Eius veritatis odit atque aliquid facere!
        Ab asperiores autem dolorum eos, libero facere nobis veritatis perspiciatis, odit perferendis officiis fugiat ut natus ex ad ipsum ipsam enim ipsa tenetur totam tempora, quis dolore velit. Magnam, exercitationem?
        Vitae, quaerat excepturi distinctio soluta incidunt dignissimos quas sit commodi placeat molestiae debitis laborum repellat asperiores quae culpa exercitationem nam quo quasi perferendis amet! At molestiae placeat optio ex voluptatum.
        Voluptatibus amet deserunt facere voluptates provident animi est neque consequuntur maxime aspernatur ipsa, minus tempore nesciunt, placeat commodi? Reprehenderit, et? Nam magnam doloribus mollitia soluta accusamus molestiae eligendi perferendis dolorem?
        At minus, soluta dicta nobis eligendi hic officiis neque ipsum magnam unde, veritatis distinctio perspiciatis fugit quis et? Rerum nihil modi, laboriosam molestiae suscipit a quas corrupti perspiciatis temporibus ullam!
        Eaque sit vero nam delectus magnam suscipit sed culpa nemo, quidem odio necessitatibus pariatur mollitia! Architecto delectus, repudiandae ipsa suscipit dolores consequatur et similique esse accusamus doloribus voluptates, ad corporis.
        Vitae ullam nisi eos, rem sapiente doloremque vel dicta iure eligendi. Sapiente iste adipisci corrupti. Atque nemo totam placeat ipsa dolor officiis molestiae ipsum, aliquid est quod ipsam, animi facilis?
        Ea veritatis labore delectus in accusantium enim, quasi ducimus sed. Inventore, enim cumque, atque illo maxime saepe aliquid dicta eaque blanditiis perspiciatis deserunt repellendus eveniet voluptates. Ipsum cum exercitationem quidem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium porro natus perferendis enim consequatur veniam iste laboriosam repellendus ipsam temporibus odio nostrum, possimus exercitationem! Architecto fugiat error sunt unde animi.
        Voluptatum provident consequuntur natus saepe corrupti fugit esse voluptatibus libero, non at ullam consectetur asperiores aperiam necessitatibus exercitationem inventore dolorum commodi? Odit quibusdam corrupti asperiores? Quod, quam. Sapiente, expedita recusandae.
        Quis sed nemo esse velit assumenda explicabo corrupti obcaecati porro quasi, soluta amet est illo expedita earum, totam tempore eos. Ipsum, quasi itaque deserunt impedit esse dolores ipsam magni non?
        Consequatur rem, odit nostrum est, recusandae esse soluta, amet totam debitis a reprehenderit consectetur adipisci nam exercitationem dolorum veritatis saepe neque excepturi quasi nulla? Iusto doloribus repudiandae necessitatibus debitis dolor!
        Necessitatibus nisi alias beatae sint consequatur mollitia neque officiis cupiditate totam accusamus enim culpa nihil quia, optio facere doloribus sequi asperiores eveniet praesentium. Repellat, sit? Deserunt dicta quos quam! Minima.
        Ipsa hic illo corrupti aperiam ducimus tempora numquam impedit. Fuga magni fugiat excepturi, ea aperiam vitae earum. Distinctio officia veritatis enim voluptatum odit. Earum natus aliquid dolores quae iure fuga!
        Exercitationem vel nesciunt eum fugiat maxime cupiditate modi, voluptatem ipsa corrupti fuga ipsum architecto? Eius veniam quasi sunt error! Eum explicabo aliquid minus veritatis recusandae itaque corrupti officiis voluptates mollitia.
        Reiciendis omnis harum rem doloribus beatae, veniam minus quae, dolores nostrum consectetur error? Earum amet eius doloremque, sunt ex accusamus blanditiis cumque sint ducimus tempora, in dicta delectus maiores ad!
        Aliquid voluptate possimus minima provident, perferendis corrupti ipsam non illum, veritatis nemo molestias? Itaque, nemo at consequuntur quisquam ex placeat est, rerum molestiae voluptatibus ipsa officiis nihil quasi, minima ipsam!
        Repudiandae, veritatis ipsum soluta corrupti laudantium, vitae sit eligendi nesciunt quam ex beatae quasi consequatur omnis. Vel sequi id sint magnam, excepturi nesciunt quas. Maxime recusandae labore id! Sed, quia.</p>
    </div>
</body>
</html>